<div class="recipe-details-container" style="max-height: 500px; overflow-y: auto;">
    <button mat-icon-button class="close-icon" (click)="closeRecipeDetails()">
        <mat-icon>close</mat-icon>
    </button>
    <div style="float: left; padding-top: 20px; padding-right: 20px; padding-bottom: 20px;">
        <img *ngIf="data?.encodedImage; else noImage" [src]="data?.encodedImage" width="300" height="300">
        <ng-template #noImage>
            <p>Not Available</p>
        </ng-template>
    </div>
    <h2>{{ data?.title }}</h2>
    <p>{{ data?.description }}</p>
    <p><strong>Cooking Time: </strong> {{ data?.cookingTime }} minutes,
        <strong>Serving Size</strong>: {{ data?.servingSize }} Persons</p>
    <p><strong>Ingredients: </strong> {{ data?.ingredients }}</p>
    <p><strong>Instructions: </strong> {{ data?.instructions }}</p>
</div>