mat-card {
    margin: 10px;
    width: 500px;
    height: 150px;
    overflow: hidden;
}

.example-card {
    max-width: 400px;
}

img {
    max-width: 50px;
    // max-height: 100%;
    object-fit: cover;
    float: right;
}

mat-card-image {
    height: 200px;
    width: 200px;
}

mat-spinner {
    margin: 10px auto;
    display: block;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/login_recipe.jpg");
    background-size: cover;
    height: 200px;
}

.search-input {
    width: 70%;
    margin: 0px 10px;
}

@media (min-width: 600px) {
    mat-grid-list {
        columns: 3;
    }
}

.recipe-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-details-container img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}


.error-info {
    margin-top: 20px;
    color: red;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}


button[color="primary"] {
    background-color: #3f51b5;
    color: white;
}