<form class="search-form">
    <mat-form-field class="search-input" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" placeholder="Search">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchText; else searchIcon" (click)="clearSearch()">
            <mat-icon>close</mat-icon>
        </button>
        <ng-template #searchIcon>
            <mat-icon matSuffix>search</mat-icon>
        </ng-template>
    </mat-form-field>
    <button mat-raised-button class="search-button" (click)="search()">Search</button>
</form>
<div *ngIf="recipes.length === 0 && isError" class="error-info">
    {{ errorMessage }}
</div>

<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let recipe of recipes">
        <mat-card>
            <mat-card-title>{{ recipe.title }}</mat-card-title>
            <mat-card-content>
                <img *ngIf="recipe.encodedImage; else noImage" [src]="recipe.encodedImage" width="100" height="100">
                <ng-template #noImage>
                    <img [src]="recipe.encodedImage" [alt]="'No Image Found'">
                </ng-template>
                {{recipe.description.length > 200 ? recipe.description.substring(0, 200) + '...' : recipe.description}}
            </mat-card-content>
            <mat-card-actions style="position: absolute; top: 130px;">
                <button mat-button color="primary" (click)="openRecipeDetails(recipe)">View</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-spinner *ngIf="loading"></mat-spinner>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
</div>