<button mat-raised-button color="primary" routerLink="/admin/add-recipe">Add Recipe</button>
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Recipe Name</th>
    <td mat-cell *matCellDef="let recipe">{{recipe.title}}</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let recipe">{{recipe.description}}</td>
  </ng-container>
  <ng-container matColumnDef="ingredients">
    <th mat-header-cell *matHeaderCellDef>Ingredients</th>
    <td mat-cell *matCellDef="let recipe">{{recipe.ingredients}}</td>
  </ng-container>
  <ng-container matColumnDef="instructions">
    <th mat-header-cell *matHeaderCellDef>Instructions</th>
    <td mat-cell *matCellDef="let recipe">{{recipe.instructions}}</td>
  </ng-container>
  <ng-container matColumnDef="imageUrl">
    <th mat-header-cell *matHeaderCellDef>Image Url</th>
    <td mat-cell *matCellDef="let recipe">
      <img *ngIf="recipe.encodedImage; else noImage" [src]="recipe.encodedImage" width="100" height="100">
      <ng-template #noImage>
        <p>Not Available</p>
      </ng-template>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let recipe" class="action-cell">
      <div class="action-buttons">
        <button mat-icon-button routerLink="/admin/edit-recipe/{{recipe.id}}" [state]="{ recipe: recipe }">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openConfirmDialog(recipe.id)" style="margin-left: 10px;">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns">
  </tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-spinner *ngIf="loading"></mat-spinner>
<mat-paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>