table {
    width: 100%;

    td {
        padding: 5px;
        text-align: justify;
        vertical-align: top;
    }

    th {
        text-align: center;
        font-weight: bold;
        color: black;
    }
}

button {
    float: right;
    right: 0;
    margin: 10px;
}

.action-buttons {
    display: flex;
    align-items: center;
}

mat-spinner {
    margin: 20px auto;
}

@media (max-width: 600px) {
    table {

        /* styles for screens smaller than 600px */
        tr {
            display: flex;
            flex-wrap: wrap;
        }

        td,
        th {
            flex: 1 0 100%;
        }
    }
}