<div class="form-container">
    <form [formGroup]="recipeForm" (ngSubmit)="submitForm()">
        <mat-form-field class="form-field">
            <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="form-field">
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field class="form-field">
            <input matInput placeholder="Image URL" formControlName="imageUrl">
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Ingredients</mat-label>
            <textarea matInput placeholder="Instructions" formControlName="ingredients"></textarea>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Instructions</mat-label>
            <textarea matInput placeholder="Instructions" formControlName="instructions"></textarea>
        </mat-form-field>
        <div class="action-btn">
            <button mat-raised-button class="form-field" color="primary" type="submit">Save</button>
            <button mat-raised-button class="form-field" color="primary" routerLink="/admin/dashboard">Go To
                Dashboard</button>
        </div>
    </form>
</div>