/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-snack-bar-container {
    &.error {
        background-color: rgb(195, 62, 62);
        color: white;
    }

    &.success {
        background-color: rgb(104, 183, 104);
        color: white;
    }

    .mat-simple-snackbar-action {
        button {
            color: white;
        }
    }
}