nav.mat-tab-nav-bar {
    background-color: #b17992;
    display: flex;
    justify-content: space-between;
}

.mat-tab-link {
    color: white;
    font-weight: bold;
}

.mat-tab-link.mat-tab-label-active {
    color: white;
    font-weight: bold;
}

a[mat-tab-link][routerLink='/login'] {
    margin-left: auto;
}

a[mat-icon-button]{
    color: white;
}

::ng-deep {
    .mat-tab-links {
        float: right;
    }
}

.username {
    color: white;
    display: flex;
    align-items: center;
}


