<nav mat-tab-nav-bar>
    <a mat-tab-link routerLink='/home' routerLinkActive="active">Home</a>
    <a mat-tab-link routerLink='/faqs' routerLinkActive="active">FAQ's</a>
    <a mat-tab-link routerLink='/admin/login' routerLinkActive="active"
        *ngIf="!authService.isLoggedIn">Login</a>
    <a mat-tab-link routerLink='/admin/dashboard' routerLinkActive="active"
        *ngIf="authService.isLoggedIn">Admin Dashboard</a>
    <div class="username" *ngIf="authService.isLoggedIn">
        Welcome {{ authService.username }}
    </div>
    <a mat-icon-button (click)="logout()" *ngIf="authService.isLoggedIn">
        <mat-icon>exit_to_app</mat-icon>
    </a>
</nav>