nav.mat-tab-nav-bar {
    background-color: #b17992;
    display: flex;
    justify-content: space-between;
}

.mat-tab-link {
    color: white;
    font-weight: bold;

    &.active {
        opacity: 1;
        border-bottom: 2px solid black;
    }
}

a[mat-icon-button]{
    color: white;
}

::ng-deep {
    .mat-tab-links {
        float: right;
    }
}

.username {
    color: white;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}


